@import '../../design-tokens/scss_variables.scss';

.Layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

p {
    margin: 0;
    padding: $space-medium;
}

header {
    p {
        font-size: $font-size-large;
    }
}

main {
    flex: 1 0 auto;
    background-color: #f0ebf8;
}
footer {
    flex-shrink: 0;
    p {
        font-size: $font-size-medium;
    }
}
